In [1]:
print("Hello World")

Hello World

In [43]:
print("Ctrl+Enter will run the cell")

Ctrl+Enter will run the cell

In [47]:
print("Shift+Enter will run and enter a new cell")
print("Alt+Enter will run and enter a new cell")

Shift+Enter will run and enter a new cell
Alt+Enter will run and enter a new cell

if we type in here it is like typing into a text file..... king of
# This is a header tag

# Nilakantha Series

Equation: 4/(n*(n+1)(n+2))

In [49]:
import math
print(math.pi)

3.141592653589793

In [3]:
def nilakantah(reps):
    #reps is the iterations
    i=2
    op=1 #opposite
    result=0
    for i in range(2,2*reps+1,2):
        result+=4/(i*(i+1)*(i+2)*op)
        op*=-1
    return 3+result

In [8]:
import math
print(nilakantah(99999))
print(math.pi-nilakantah(1000000))

3.141592653589792
1.7763568394002505e-15

# Monte Carlo